.now-matching {
  height: 150px;
  overflow-y: scroll;
  padding: 0 0 0 20px;
  ::marker {
    content: "■ ";
    color: orange;
  }
}
.past-matching {
  height: 150px;
  overflow-y: scroll;
  padding: 0 0 0 20px;
  ::marker {
    content: "■ ";
    color: #4287ee;
  }
}
.now-matching::-webkit-scrollbar,
.past-matching::-webkit-scrollbar {
  display: none;
}
.matching__list--item {
  margin-right: 3px;
}
.matching__list {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #d9d9d9;
}
.now-matching .waiting__btn {
  color: orange;
  background-color: white;
  border: 1px solid orange;
  margin: 0 5px;
  cursor: auto;
}
.now-matching .waiting__btn:hover {
  opacity: 1;
}
.now-matching .cancel__btn {
  color: white;
  border: 1px solid orange;
  background-color: orange;
}
.past-matching .review--write__btn {
  margin: 0 5px;
  color: white;
  background-color: #4287ee;
}
.past-matching .review--read__btn {
  margin: 0 5px;
  color: #4287ee;
  background-color: white;
  border: 1px solid #4287ee;
}
