.menubar {
  display: flex;
  list-style: none;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.menu--logo {
  font-size: 30px;
  font-weight: 700;
  width: 80px;
  padding-left: 20px;
}
.menu--info,
.menu--reserve {
  font-size: 18px;
}
.login__btn {
  position: relative;
  top: -30px;
  right: 20px;
}
.mypage__btn {
  position: relative;
  right: 90px;
  background-color: transparent;
  color: blue;
}
.mypage__btn:hover {
  opacity: 1;
  text-decoration: underline;
}
