.mypage__toggle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 30px 0;
  background-color: #f5f5f5;
  border-radius: 30px 30px 0 0;
  position: fixed;
  bottom: 0;
}
.toggle__btn {
  width: 100px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}
.toggle__content {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0 50px;
}
.mypage__toggle .review__head {
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
  margin-bottom: 30px;
}
.review__mark {
  background-color: #4287ee;
  color: white;
  border-radius: 20px;
  padding: 7px;
}
/* stadium__review */
.stadium__review--writer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
.stadium__review--writer textarea {
  width: 350px;
  height: 50px;
  padding: 15px;
}
.review__btn {
  background-color: #4287ee;
  color: white;
}
.team__review--content {
  display: flex;
}
.skill__check,
.manner__check {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill__title,
.manner__title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 50px;
}
.input__radio {
  appearance: none;
  margin: 0px 45px 5px 0px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: none;
}
.input__radio:checked {
  background-color: #4287ee;
}
.skill__point--ment {
  display: flex;
  font-size: 0.7rem;
  color: #919191;
  gap: 115px;
  margin-left: 90px;
  margin-bottom: 10px;
}
.manner__point--ment {
  display: flex;
  font-size: 0.7rem;
  color: #919191;
  gap: 135px;
  margin-left: 95px;
}
.team__review--content .review__btn {
  margin: 0 15px;
}
/* copyright */
.mypage__copyright {
  background-color: #dee7f340;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1.2rem;
  padding: 20px 30px;
  line-height: 2rem;
}
.copyright__title {
  font-weight: 600;
  margin-right: 10px;
}
.copyright {
  margin-top: 30px;
  color: #4287ee;
}
