@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
body {
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
  /* font-weight: 600; */
  /* overflow-x: hidden; */
}
button {
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
ul {
  display: flex;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.center {
  max-width: 1300px;
  margin: auto;
}
